# London Bikesharing Data Analysis

Create a dashboard that shows insight on bike sharing trends between 2015-2017

Kaggle API Documentation: https://www.kaggle.com/docs/api

In [1]:
# Imports

import pandas as pd
# unzip zip file
import zipfile  
# access kaggle api
import kaggle

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/kevintie/.kaggle/kaggle.json'

/Users/kevintie/Desktop/data_projects/projects/bike/venv/lib/python3.9/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

Use the Kaggle API to programmatically download the dataset

In [2]:
# programmatically download the Kaggle dataset
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset      # "!" forces command to run as a CLI command

/Users/kevintie/Desktop/data_projects/projects/bike/venv/lib/python3.9/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/kevintie/.kaggle/kaggle.json'
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
# unzip file
zip_file = "london-bike-sharing-dataset.zip"

with zipfile.ZipFile(zip_file, "r") as file:
    file.extractall()

Load raw data

In [4]:
# load data
bikeshare = pd.read_csv("london_merged.csv")

bikeshare

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

### Data Exploration

In [5]:
# dataframe overview
bikeshare.info()

print(f'\nShape: {bikeshare.shape}')
print(f'Null: {bikeshare.isna().sum().sum()}')
print(f'Duplicates: {bikeshare.duplicated().sum().sum()}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

Shape: (17414, 10)
Null: 0
Duplicates: 0

Weather categories

In [6]:
# weather unique values and their counts
print(bikeshare.weather_code.value_counts())
print(f'\n1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity')
print(f'2 = scattered clouds / few clouds')
print(f'3 = Broken clouds')
print(f'4 = Cloudy')
print(f'7 = Rain/ light Rain shower/ Light rain')
print(f'10 = rain with thunderstorm')
print(f'26 = snowfall')
print(f'94 = Freezing Fog')

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity
2 = scattered clouds / few clouds
3 = Broken clouds
4 = Cloudy
7 = Rain/ light Rain shower/ Light rain
10 = rain with thunderstorm
26 = snowfall
94 = Freezing Fog

Holiday flags

In [7]:
# holiday boolean values and counts
print(bikeshare.is_holiday.value_counts())
print(f'\n0.0 - {False}\n1.0 - {True}')

is_holiday
0.0    17030
1.0      384
Name: count, dtype: int64

0.0 - False
1.0 - True

Weekend flags

In [8]:
# weekend boolean values and counts
print(bikeshare.is_weekend.value_counts())
print(f'\n0.0 - {False}\n1.0 - {True}')

is_weekend
0.0    12444
1.0     4970
Name: count, dtype: int64

0.0 - False
1.0 - True

Season categories

In [9]:
# season categories with unique values and counts
print(bikeshare.season.value_counts())
print(f'\n0.0 - Spring\n1.0 - Summer\n2.0 - Fall\n3.0 - Winter')

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

0.0 - Spring
1.0 - Summer
2.0 - Fall
3.0 - Winter

## Data Mapping

In [10]:
bikeshare

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

Rename columns for clarity

In [11]:
# create column dict
column_dict = {
    "timestamp":"date",
    "cnt":"share_count",
    "t1":"real_temp_c",
    "t2":"perceived_temp_c",
    "hum":"humidity_percent",
    "wind_speed":"wind_speed_kph",
    "weather_code":"weather",
    "is_holiday":"holiday",
    "is_weekend":"weekend",
    "season":"season"
}

# apply column dict to rename columns
bikeshare.rename(columns=column_dict, inplace=True)

Transform percentage values to actual percent values (between 0 and 1)

In [13]:
# change humidity values to actual percent values
bikeshare.humidity_percent = bikeshare.humidity_percent / 100

Map weather and season codes

In [14]:
# weather map
weather_map = {
    1.0:'Clear',
    2.0:'Few Clouds',
    3.0:'Broken Clouds',
    4.0:'Cloudy',
    7.0:'Light Rain',
    10.0:'Thunderstorm',
    26.0:'Snowfall',
    94.0:'Freezing Fog'
}

# apply weather map to weather values
bikeshare["weather"] = bikeshare["weather"].map(weather_map)

# season map
season_map = {
    0.0:'Spring',
    1.0:'Summer',
    2.0:'Fall',
    3.0:'Winter'
}

# apply season mapper to season values
bikeshare["season"] = bikeshare["season"].map(season_map)

## Cleaned Dataframe

In [17]:
bikeshare

,date,share_count,real_temp_c,perceived_temp_c,humidity_percent,wind_speed_kph,weather,holiday,weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken Clouds,0.0,0.0,Winter
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,0.0,0.0,Winter
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,0.0,0.0,Winter
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,0.0,0.0,Winter
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Few Clouds,0.0,0.0,Winter

## Export Cleaned Data for Data Vis

In [16]:
# export data to csv for data visualization
bikeshare.to_excel("london_bikeshare_data.xlsx")